<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    </head>
    <body>
    <div class="container">
    <div class="media-left">
     <img src="{{ url_for('static', filename = 'madhav.jpg') }}" width="150px" height="150px" class="media-object img-circle"></div>
     <div class="media-body">
         <h1><b><center>Madhav Vij: 1001440170</center></b></h1>
     </div>
    </div>
    <div class="container" >
        <div class="well">
        <div class="form-group">
        <div class="header">
            <h2>Upload:</h2>
        </div>
        <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br />
        Number: <input type="text" name="numb">
            <br /><br />
        <input type="submit" value="Upload">
      </form>
            </div>
            <hr/>
            <div class="header">
                <h2>Download:</h2>
            </div>
            <div class="form-group">
                <form action="download" method="post">
                    <select name="file1">
                        {% for file in fileList %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                <input type="submit" value="Download">
                </form>
            </div>

                    <hr/>
            <div class="header">
                <h2>Range:</h2>
            </div>
            <div class="form-group">
                <form action="download2" method="post">
                Range: <input type="text" name="range">
                <input type="submit" value="Download">
                </form>
            {% if 1==2 %}
                <form action="download2" method="post">
                    <select name="file1">
                        {% for file in fileList %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                </form>
             {% endif %}

            </div>
        </div>
    </div>

    </body>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>